.custom-widget {
  background-color: blue;
}

.vtk > .lm-Widget {
  height: 100%;
}

.left-panel {
  
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  width: 100%;
}

.bp3-tab-indicator-wrapper{
  width: 33%!important;
  height: 40px!important;
  background: aliceblue;
}

.left-panel-tab{
  flex-grow: 1;
}

.bp3-tab.left-panel-tab{
  width: 33%;
  margin-right : 0!important;
  text-align: center;
}
.bp3-tab.left-panel-tab:focus{
  outline: unset!important;
}

.bp3-tab-panel.left-panel-tab{
  padding-top : 20px;
  margin-top: 0;
  background: aliceblue;
}

.file-browser a {
  color: black !important;
}