.custom-widget {
  background-color: blue;
}

.vtk > .lm-Widget {
  height: 100%;
}

.left-panel {
  
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  width: 100%;
}

.left-panel .bp3-tab-list{
  background: rgb(16, 107, 163);
}

.left-panel .bp3-tab-indicator-wrapper{
  width: 34%!important;
  height: 30px!important;
  background: aliceblue;
}

.bp3-tab.left-panel-tab[aria-selected="false"]:hover {
  color: aliceblue;
}

.left-panel-tab{
  flex-grow: 1;
}

.bp3-tab.left-panel-tab{
  width: 33%;
  margin-right : 0!important;
  text-align: center;
  color: #cecece;
}
.bp3-tab.left-panel-tab:focus{
  outline: unset!important;
}

.bp3-tab-panel.left-panel-tab{
  padding-top : 20px;
  margin-top: 0;
  background: aliceblue;
}

.file-browser a {
  color: black !important;
}

.bp3-navbar, .bp3-navbar-group {
  height: 40px!important;
}