.jpview-view-toolbar {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.jpview-toolbar-button {
  background: none;
  color: rgb(187, 187, 187);
  border-radius: var(--jp-border-radius);
  font-size: var(--jp-ui-font-size1);
  display: inline-flex;
  flex-direction: row;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: left;
  vertical-align: middle;
  min-height: 24px;
  min-width: 12px;
  font-size: 12px;
  padding: 0 7px;
}

.jpview-toolbar-button:hover {
  background-color: #424242;
}

.jpview-toolbar-button:active {
  border: none;
  box-shadow: none;
  background-color: var(--jp-warn-color-active, rgba(153, 153, 153, 0.2));
}
.jpview-control-panel-title {
  border-bottom: solid var(--jp-border-width) var(--jp-border-color1);
  box-shadow: var(--jp-toolbar-box-shadow);
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 24px;
  height: var(--jp-debugger-header-height);
  background-color: var(--jp-layout-color2);
}

.jpview-control-panel-title h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--jp-ui-font-size0);
  color: var(--jp-ui-font-color1);
  padding-left: 8px;
  padding-right: 4px;
}

/* .jpview-control-panel .Mui-expanded {
  margin: 0px 0px 16px 0px!important;
} */
.jpview-control-panel {
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  height: 100%;
}

