name: Lite Deploy

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install the dependencies
        run: |
          python -m pip install -U pip setuptools jupyterlab~=3.3
          python -m pip install ./docs/jupyterlite-0.1.0b0.tar.gz
          python -m pip install -e .
          jupyter labextension develop . --overwrite
      - name: Build the JupyterLite site
        run: |
          mkdir -p ./docs/files
          cp ./samples/beam.vtk ./docs/files/
          cp ./samples/cow.vtp ./docs/files/
          cp ./samples/diskout-stream-binary-zlib.vtp ./docs/files/
          cp ./samples/piston.vtu ./docs/files/
          cd docs
          jupyter lite build
          cp -R ./_output/extensions ./_output/lab
      - name: Upload (dist)
        uses: actions/upload-artifact@v2
        with:
          name: jupyterview-demo-dist-${{ github.run_number }}
          path: ./docs/_output

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
      - uses: actions/download-artifact@v2
        with:
          name: jupyterview-demo-dist-${{ github.run_number }}
          path: ./dist
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: dist